# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo

# Flask instance & database
instance/
*.db

# Data / Graph
knowledge_graph/output/*.gpickle.gz
import_data/*.csv
linkedin_kg_contextual_.gpickle.gz

# Deployment
.vercel
logs/
