.vercel
knowledge_graph/output/jobs_tech_graph_fuzzy.graphml
knowledge_graph/output/jobs_tech_graph_fuzzy.graphml
knowledge_graph/output/jobs_tech_graph_fuzzy.graphml
knowledge_graph/output/jobs_tech_graph_fuzzy.graphml
knowledge_graph/output/*.gpickle
import_data/*.csv
knowledge_graph/output/*.gpickle
import_data/*.csv
.env
__pycache__/
*.pyc
*.pyo
*.db
instance/
